*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
}

.firstPage{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
}

.headerPage{
    background-color: #fff;
    display: grid;
    grid-template-columns: 20rem 20rem;
    justify-content: center;
    gap: 30rem;
    padding: 1rem;
}

.headerPage__caption{
    display: flex;
    gap: 1rem;
    padding: 0.2rem;

}

.headerPage__logo{
    width: 2rem;
    height: 2rem;
}

.headerPage__name{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.headerPage__list{
    display: flex;
    gap: 3rem;
    padding: 0.7rem;
}

.headerPage__item{
    list-style: none;
    cursor: pointer;
}

a{
    color: #000;
}

.sectionOne{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}

.sectionOne__largeBox{
    border: 1px solid #000;
    background-color: #fff;
    padding: 3rem 0 3rem 0;
    border-radius: 1rem;
    height: 80%;
    width: 70%;
    gap: 4rem;
    margin-top: 3.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 25rem 25rem;
}


.sectionOne__boxDrop{
    background-color: #EEEEEE;
    display: grid;
    grid-template-rows: 60% 10% 30%;
    justify-items: center;
}

.sectionOne__logo{
    margin-top: 5rem;
    width: 8rem;
    height: 8rem;
}
.sectionOne__bigTextDrag{
    color: #707070;
    font-size: 2rem;
    font-weight: 800;
}

.sectionOne__smallText{
    color: #707070;
}

.sectionOne__boxData{
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.sectionOne__bigTextNo{
    padding-top: 11rem;
    color: #707070;
    font-size: 2rem;
    font-weight: 800;
}

.sectionOne__smallTextProgress{
    color: #707070;
    padding-top: 1rem;
}

.sectionOne__boxData .sectionOne__progressFile{
    display: none;
}

.sectionOne__boxData .sectionOne__completeProgress{
    display: none;
}


/*****boxData active*****/
.sectionOne__boxData--active{
    display: grid;
    grid-template-rows: 100%;
    justify-items: center;
}

.sectionOne__boxData--active 
.sectionOne__bigTextNo,
.sectionOne__boxData--active 
.sectionOne__smallTextProgress
{
    display: none;
}

.sectionOne__boxData--active .sectionOne__progressFile{
    display: grid;
    grid-template-rows: 70% 30%;
    justify-content: center;
}


.sectionOne__progressOne{
    margin-top: 2.5rem;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.sectionOne__progressOne object{
    /* background-color: #E74C3C; */
    width: 8rem;
    height: 8rem;
}

.sectionOne__progressPlace{
    /* background-color: #01BD1D; */
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 0.3rem;
}

.sectionOne__fileName{
    font-size: 1.5rem;
}

.sectionOne__progressButton{
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.sectionOne__btnRemove,
.sectionOne__btnUpload
{
    height: 3rem;
    width: 8rem;
    border: 1px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}

.sectionOne__btnRemove{
    background-color: #E74C3C;
}

.sectionOne__btnUpload{
    background-color: #01BD1D;
}

.sectionOne__btnRemove:hover{
    background-color: #d62c1a;
    transition: 0.2s ease-in-out;
}


.sectionOne__btnUpload:hover{
    background-color: #018a15;
    transition: 0.2s ease-in-out;
}

/*****boxData active*****/


.sectionOne__boxData--complete
.sectionOne__bigTextNo,
.sectionOne__boxData--complete 
.sectionOne__smallTextProgress
{
    display: none;
}

.sectionOne__boxData--complete{
    /* background-color: yellow; */
    display: grid;
    grid-template-rows: 100%;
    /* transition: all 1s ease-in-out; */

    
}


.sectionOne__boxData--complete .sectionOne__completeProgress{
    height: 70%;
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: 80% 20%;
    justify-items: center;

    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.sectionOne__completeIcon{
    /* background-color: #E74C3C; */
    width: 14rem;
    height: 14rem;
}

.sectionOne__captionComplete{
    /* background-color: #01BD1D; */
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
}




.sectionOne__boxDrop,
.sectionOne__boxData{
    border: 1px solid #000;
    border-radius: 1rem;
}




